<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Feature Suggestion</title>
</head>
<body>
    <nav>
    </nav>
    <h1>Edit Feature Suggestion</h1>

    <div class="back">
        <a class="no-underline" href="/feature-requests/<%=feature.company%>">
            <i class="fa fa-arrow-circle-left"></i>
            Back</a>
    </div>

    <form action="/dashboard/<%=feature.companyName%>/<%=feature.id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%= feature.title %>" required> <br>
        Description: <textarea name="description" id="description" cols="30" rows="10" required><%= feature.description %></textarea>
        <input type="submit" name="" value="Edit">
    </form>
</body>
</html>