<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    <h1>Dashboard</h1>
    
    <h2>Latest Feature Requests</h2>

    <% console.log('USER: ' + user) 
    for (let i = 0; i < user.featureRequests.length; i++) { %>
        <div>
            <a href="/feature-requests/<%= user.company %>/<%= user.featureRequests[i].id %>">
            <h3> <%= user.featureRequests[i].title %> </h3>
            </a>
            <form action="/dashboard/<%=user.company%>/<%=user.featureRequests[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
            <button onclick="window.location.href='/dashboard/<%=user.company%>/<%=user.featureRequests[i].id%>/edit'">Edit</button>    
        </div>
    <% } %>

</body>

</html>