<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Dashboard</title>
</head>
<body>
    <nav style="">
        <%- include('../partials/nav.ejs') %>
    </nav>
    
    <h1>Dashboard</h1>

    <div class="container-fluid">
        <ul class="nav nav-pills flex-column w-25 p-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#requests">Feature Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#pageSettings">Page Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu2">Menu 2</a>
            </li>
        </ul>

        <div class="tab-content w-75 p-3">
            <div id="requests" class="container tab-pane active"><br>
                <!-- <div class="w-33 p-3 stats"></div>
                <div class="w-33 p-3 stats"></div>
                <div class="w-33 p-3 stats"></div> -->
                <h3 class="tab-title">Latest Feature Requests</h3>
                <% console.log('USER: ' + user) 
                for (let i = 0; i < user.featureRequests.length; i++) { %>
                <div class="feature-suggestion1">
                    <div class="dropdown float-right">
                        <button class="dropdown-toggle btn btn-light" type="button" data-toggle="dropdown">Manage
                        <span class="caret"></span></button>
                        <div class="dropdown-menu">
                            <div style="display: flex; flex-direction: column;padding: 0px;">
                                <button class="float-right edit-delete" onclick="window.location.href='/dashboard/<%=user.company%>/<%=user.featureRequests[i].id%>/edit'">Edit</button> 
                            <form action="/dashboard/<%=user.company%>/<%=user.featureRequests[i].id%>?_method=DELETE" method="POST">
                                <input class="float-right edit-delete" type="submit" value="Delete">
                            </form>
                            
                            </div>
                        </div>
                    </div>
                <a href="/feature-requests/<%= user.company %>/<%= user.featureRequests[i].id %>">
                <h5> <%= user.featureRequests[i].title %> </h5>
                </a> 
                <p class="text-truncate"> <%= user.featureRequests[i].description %> </p>  
            </div>
                <% } %>
            </div>

            <div id="pageSettings" class="container tab-pane fade"><br>
                <form style="margin-top: 0px;" class="feature-suggestion1"
                action="/dashboard/<%=user.company%>?_method=PUT" method="POST">
                    <h3 style="text-align: center; padding-bottom: 20px;">Page Settings</h3>

                    <div class="form-group">
                        <label style="margin-bottom: 0px" for="company">Page Name</label>
                        <p class="subdescription">The name of your page and url displayed to your users. Careful, changing this also changes your subdomain.</p>
                        <input type="text" name="company" value="<%= user.company %>" required> <br>
                    </div>

                    <div class="form-group">
                        <label style="margin-bottom: 0px; margin-top: 15px;" for="description">Description</label>
                        <p class="subdescription">Displayed on your public feature request page.</p>

                        <textarea name="description" id="description" cols="30" rows="5"><%= user.description %></textarea>
                    </div>

                    <div class="form-group">
                        <div class='custom-file'>
                        <label class="custom-file-label" for="customFile" style="margin-bottom: 0px; margin-top: 15px;" for="logo">Upload Your Logo</label>
                        <input class="custom-file-input" id="customFile" type="file" name="logo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="margin-bottom: 0px; margin-top: 15px;" for="description">Custom Domain</label>
                        <p class="subdescription">Set your own domain for your feedback page. Only available on paid plans, please get in touch.</p>

                        <p><a class="btn btn-secondary" href="mailto:someone@example.com">Contact Us</a></p>
                    </div>

                    <input class="btn btn-primary btn block" type="submit" name="" value="Save">

                 </form>
            </div>

            <div id="menu2" class="container tab-pane fade"><br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>

    <footer class="login-footer">

        <%- include('../partials/login-signup-footer.ejs') %>

    </footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



<script>
    $(document).ready(function () {

    $('.first-button').on('click', function () {

    $('.animated-icon1').toggleClass('open');
    });
    $('.second-button').on('click', function () {

    $('.animated-icon2').toggleClass('open');
    });
    $('.third-button').on('click', function () {

    $('.animated-icon3').toggleClass('open');

    });

    $(".custom-file-input").on("change", function() {
    let fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
});
</script>

</body>

</html>